<h2 style="color:hotpink;">Thank you for your purchase 💕</h2>
<p>Your order has been placed successfully.</p>

<a asp-controller="Home"
       asp-action="Index"
       class="btn btn-primary">
    Continue Shopping
</a>